/* 
    Created on : Apr 6, 2016, 1:19:45 AM
    Author     : Exevan
*/


/* Fix overly large margins on bootstrap glyphicons */
.glyphicon-small  {
    margin: 5px;
}

/* Fix overly large vertical padding on bootstrap alerts */
.alert-small {
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: black;
}